.tiny-loader {
  display: block;
  height: 32px;
  width: 32px;
  &__animation {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    height: 32px;
    width: 32px;
    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      height: 32px;
      width: 32px;
      border: 3px solid #000000;
      border-bottom: 3px solid transparent;
      border-radius: 50%;
      -webkit-animation: tiny-loader-1 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
      animation: tiny-loader-1 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin-left: 15px;
      margin-top: 13px;
      width: 6px;
      height: 6px;
      background: #000000;
      border-radius: 50%;
      -webkit-animation: tiny-loader-2 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
      animation: tiny-loader-2 1.5s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    }
  }
}

@-webkit-keyframes tiny-loader-1 {
  0% {
    -webkit-transform: rotate(0deg);
  }

  40% {
    -webkit-transform: rotate(180deg);
  }

  60% {
    -webkit-transform: rotate(180deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes tiny-loader-1 {
  0% {
    transform: rotate(0deg);
  }

  40% {
    transform: rotate(180deg);
  }

  60% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes tiny-loader-2 {
  0% {
    -webkit-transform: translate3d(0, -32px, 0) scale(0, 2);
    opacity: 0;
  }

  50% {
    -webkit-transform: translate3d(0, 0, 0) scale(1.25, 1.25);
    opacity: 1;
  }

  100% {
    -webkit-transform: translate3d(0, 8px, 0) scale(0, 0);
    opacity: 0;
  }
}

@keyframes tiny-loader-2 {
  0% {
    transform: translate3d(0, -32px, 0) scale(0, 2);
    opacity: 0;
  }

  50% {
    transform: translate3d(0, 0, 0) scale(1.25, 1.25);
    opacity: 1;
  }

  100% {
    transform: translate3d(0, 8px, 0) scale(0, 0);
    opacity: 0;
  }
}
