@font-face {
  font-family: 'Century Gothic';
  src: url("../../../fonts/11528.ttf") format('truetype');
}

@keyframes fade-in {
  from {
    transform: translateY(-80px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fade-right {
  from {
    transform: translateX(160px);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.searchPanel{
  height: 70px;
  background-color: #009687;
  animation: mdc-animation-enter(/* $name: */
                  fade-in, /* $duration: */
                  1000ms);
}
.mangaCard{
  display: flex;
  height: 200px;
  width: 95%;
  background-color: #33393F;
  color: white;
  margin-top: 20px;
  cursor: pointer;
  animation: mdc-animation-enter(/* $name: */
                  fade-right, /* $duration: */
                  1000ms);
}
.cardList{
  margin-left: 20px;

}
.cardInfo{
  font-family: "Century Gothic", serif;
  margin-left: 20px;
  font-size: 13px;
}
.h2{
  font-size: 20px;
  font-family: "Century Gothic", serif;
}
.input{
  display: block;

  width: 50%;
  border: 0;
  padding: 13px 5px;
  background: #282E33 no-repeat;
  border-radius: 50px;
  color:white;
  font-family: "Century Gothic", serif;

  background-image:
          linear-gradient(to bottom, #18191D, #18191D),
          linear-gradient(to bottom, silver, silver);
  background-size: 0 2px, 100% 1px;
  background-position: 50% 100%, 50% 100%;

  transition: background-size 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
  &:focus{
    background-size: 100% 2px, 100% 1px;
    outline: none;
  }
}
.searchInputForm{
  padding: 15px 0 0 33px;
  display: flex;
}
.searchButton{
  margin: 9px 0 0 29px;
  background-color: #33393F !important;
}
.searchLabel{
  color: #33393F !important;
}
.active{
  border-bottom: blue !important;
}
.searchInput{
  width: 250px;
  margin-top: -15px;
}
.progressLine{
  width: 98% !important;
}



